body{
    background-image: url("../Images_Videos/GameBckg.jfif");
    background-size: cover;
}
.btn-danger{
    width:20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#myModal{
    margin-top: 10%;
}
#sideBtns{
    margin-top: 110px;
}
li{
    margin-bottom: 10px;
}
.GameBtns:hover
{
    width:170px;
    height:170px;
}
#icon{
    width:25px;
    height:25px;
}
#BackBtn{
    position:fixed;
    top:10px;
    left:10px;
}
#Deck_UI{
    width:100px;
    height:150px;
    position: fixed;
    right:200px;
    top:200px;
}