h1{
    min-width: 200px;
text-align: center;
font-size: 70px;
font-family: neon;
color:white;

margin-bottom: 30px;
}
@font-face {
    font-family: "neon";
    src: url("../Fonts/neon.ttf");
}
#content{
    margin-left:10%;
    margin-right:10%;
    background-color:white;
    height:100%;
    
    
}
p{
    text-indent: 55px;
    margin-left:30px;
    margin-right:30px;
  
}
body{
  

    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2468477.jpg&f=1&nofb=1");
}
#back{
    position: fixed;
    top: 10px;
    left:20px;
    width: 7vw;
   
}
footer{
   background-color: #333;
   text-align: center;
   color:white;
}
#nav {
list-style-type: none;
margin: 0;
padding: 0;
position: -o-sticky  ;
position: sticky;
text-align: center;
overflow: hidden;
background-color: #333;


}

#nav li a:hover {
background-color: #111;
text-decoration: none;
color:white;
}
#nav li{
    float: left;
    min-width: 200px;
    width:25%;
  
}
#nav li a {
display: block;
color: white;
padding: 20px 28px;
text-decoration: none;
}
h2{
    font-family:neon;
    text-align: center;
    font-size: 50px;
}
.content-images{
  width:70%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;

}
.normal-list{
    margin-left:30px;
    margin-right:30px;
}
html{
    scroll-behavior: smooth;
}
iframe{
    display: block;
    border:0;
  
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 400px;
    margin-bottom: 20px;
}
#Author_img
{
    width:40%;
    height:30%;
}
.sticky {
position: fixed;
top: 0;
width: 80%;
}

.sticky + #content {
padding-top: 60px;
}
#About_Author p{
margin-left:60px;
margin-right: 60px;
}
#about_list{
display: block;
text-decoration: none;
margin-left: 10%;
margin-right: auto;
width: 100%;
}
.links{
display: inline;
margin-left: 4px;

}
.iconImg{
height:32px;
width:32px;
}
.technologies{
width:30px;
height:30px;
}
#header{
min-width: 100%;
min-height: 100%;
}
#mid{
margin-top: 50px;
}
#myVideo{
position: fixed;
min-width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 0;
}