body{
    background-image: url("../Images_Videos/GameBckg.jfif");
    background-size: cover;
}
.btn-danger{
    width:20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#myModal{
    margin-top: 10%;
}
#sideBtns{
    margin-top: 110px;
}
li{
    margin-bottom: 10px;
}
.GameBtns:hover
{
    width:110px;
    height:110px;
    cursor:pointer;
}
#icon{
    width:25px;
    height:25px;
}
#BackBtn{
    position:fixed;
    top:10px;
    left:10px;
}
#CHand li, #PHand li{
    display: inline;
    margin: 10px;

}
#CHand{
    position: absolute;
    margin-left:30%;
    margin-right:auto;
    top:10vw;
    display: block;
}
#PHand{

    margin-left:30%;
    margin-right:auto;

    display: block;

}

ul{
    list-style-type: none;

}
.GameBtns{
    width:100px;
    height:100px;
}
#CHand li img, #PHand li img{
    display: inline;
    width:100px;
    height:120px;
    
}