#output{
    display:table;
    width:100%;
   margin: 0 auto;
   text-align: center;
   font-size: 22px;
   justify-content: center;
}
@font-face {
    font-family: "Poker";
    src: url("../Fonts/Poker.ttf");
}
h1{
    font-family: Poker;
    text-align: center;
    font-size: 5vw;
    margin-top: 20%;
    color: salmon;
    
}
#NewGameBtn,#HowToBtn,#QuitBtn{
    width: 15%;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
#buttons{
    display: block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    
    
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    z-index: -1;
}